{% extends 'base.html' %}

{% block title %}Editar Modal{% endblock %}

{% block body %}
<style>
    body {
        background-color: #f5f5f5;
    }
</style>
<div class="modal-dialog modal-x1" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Edición de Marcas: {{ object }}</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" action="{% url 'editar_marcas_modal' marcas.id  %}" method="POST"
            enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <div id="erroresEdicion">

                </div>
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Confirmar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}